*{
    padding: 0;
    margin: 0;
   
    box-sizing: border-box;
    font-family: montserrat;
}
nav {
    background:#72773E;
    height: 100px;
    width: 100%;
   
}
.enlace {
    position: absolute;
    padding: 20px 50px;
}
.logo {
    height: 70px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}
nav ul li  a{
    color: #ffffff;
    font-size: 20px;
    padding: 7px 13px;
    -texttransform: uppercase;
    text-decoration: none;
    border-style: groove;
    border-radius: 20px;
}
li a.active, li a:hover {
    background: #CA6750;
    transition:-55s ;
    border-radius: 20px;
    align-items: unset;
}
.checkbtn {
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer ;
    display: none ;

}
#check {
    display: none;
}
@media (max-width: 952){
    .enlace {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width:858px){
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width:100% ;
        height: 100vh;
        background: #72773E;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: -5%;
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height:10px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background:nome ;
        color: #ffffff;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

@media only screen and (min-widrh: 768px ) and (max-width: 991px){
    .carousel-caption {
        bottom: 370 px;

    }
    .carousel-caption {
        bottom: 125px;
    }
}
.w-100{
    height: 100vh;
}
.section-padding {
    padding: 100px 0;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 220px;
    z-index: 2;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-iner::before{
   
    position:absolute ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:#72773E;
    z-index: 1;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;

}
img {
    width: 100%;
    object-fit: cover;

}
.gallery__container {
    width: 100%;
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 80px;
    gap: 50px;
}
.gallery__container img {
    height: 100%;
}

.contenedor {
    background-color: #CA6750;
    padding: 80px;
}
p{
    text-align: center;
    font-family: montserrat;
}
h3{
    text-align: center;
    text-decoration: underline;
}

.footer{
    background-color: #72773E; 
    color: white; 
    text-align: center;
    padding: 10px; 
    position: relative;
     bottom: 0;
    width: 100%;
    align-items: center ;
    
}
 .footer a {
    color: #fffffe;
    padding: 20px;
 }

