
:root {
    --primary-green: #72773E;
    --primary-coral: #CA6750;
    --light-bg: #F9F7EE;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F9F7EE;
}
.navbar {
    background-color: #72773E;
}
header {
    background-color: var(--primary-green);
    padding: 0.5rem 0;
}
.logo {
    width: 60px;
    height: auto;
}
.nav-link.rounded-nav-link {
    color: var(--light-bg) !important;
    font-size: 19px;
    font-weight: 500;
    padding: 0.3rem 2rem !important;
    border: 2px solid var(--light-bg);
    border-radius: 25px;
    margin: 0 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}
.nav-link.rounded-nav-link:hover {
    background-color: var(--light-bg);
    color: var(--primary-green) !important;
}
.nav-link.rounded-nav-link.active {
    background-color: var(--light-bg);
    color: var(--primary-green) !important;
    font-weight: 700;
    font-size: 19px;
}
.navbar-toggler.custom-toggler {
    border: none;
    padding: 0.25rem 0.75rem;
}
.navbar-toggler-icon-custom {
    width: 24px;
    height: 24px;
}
hr {
    height: 2px;
    background-color: #72773E; 
    width: 50%; 
    margin: 20px auto; 
}
.rounded-image {
    border-radius: 50px; 
    width: 100%;
    max-width: 100%; 
}
.text-content {
    font-size: 20px; 
    padding: 20px; 
}
.testimonial-card {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.testimonial-card-body {
    background-color: #72773E !important; 
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 25px;
}
.profile-img {
    position: absolute;
    top: -5px; 
    left: -12px; 
    border: 2px solid #F9F7EE;
    width: 60px;
    height: 60px;
}
.card-title {
    color: #F9F7EE;
    font-weight: 600;
    margin-top: 20px; 
    margin-bottom: 18px;
    font-size: 20px; 
}
.card-text {
    text-align: center;
    font-weight: 500;
    font-size: 20px; 
    color: #F9F7EE;
    padding-bottom: 5px;
}
.modalidad-card {
    background: #CA6750;
    border-radius: 20px;
    box-shadow: none; 
    color: #333;
}
.modalidad-boton {
    border-radius: 30px;
    padding: 10px 70px;
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 15px; 
    background-color: #F9F7EE;
}
.elegir-boton {
    background-color: #F9F7EE; 
    border: 1px solid #CA6750; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}
.elegir-boton:hover {
    background-color: #CA6750; 
    color: #F9F7EE; 
    border-color: #F9F7EE; 
}
.list-unstyled {
    color: #F9F7EE;
    text-align: justify center;
    margin-bottom: 35px;
    margin-left: 50px;
    padding: 1px;
}
.icono {
    width: 37px;
    height: 26px;
    margin-right: 20px;
}
.border-lines {
    border-right: 1px solid #CA6750;
    border-left: 1px solid #CA6750;
}
.text-item {
    font-size: 30px; 
    display: flex; 
    align-items: center;
    line-height: 1.2;
}
.carousel-control-prev,
.carousel-control-next {
    width: 30px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    filter: invert(100%);
}
.tamano-letra {
    font-size: 22px; 
    text-align: center; 
}
.header-image {
    width: 100%;
    background-position: center;
    background-size: cover;
}
.desktop-image {
    background-image: url('img/image.png'); 
    height: 700px; 
}
footer {
    background-color: var(--primary-green);
    color: var(--light-bg);
    padding: 1rem 0;
    padding-bottom: 0.5rem;
}
.footer-text {
    font-size: 19px;
    font-weight: 600;
    font-style: italic;
}
.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}
.social-icons a {
    color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}
.social-icons a:hover {
    opacity: 0.8;
}
.social-icons img {
    width: 24px;
    height: 24px;
}
@media (max-width: 768px) {
    
    .navbar-collapse {
        background-color: var(--primary-green);
        padding: 0.5rem;
        border-radius: 0 0 15px 15px;
        margin-top: 0.2rem;
    }
    .nav-link.rounded-nav-link {
        color: var(--light-bg) !important;
        border: none !important;
        font-size: 18px;
        padding: 0.2rem 1rem !important;
        text-align: left;
        margin-left: 0;
    }
    .container {
        padding-top: 2rem;
        padding-bottom: 0.2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .nav-link.rounded-nav-link:hover,
    .nav-link.rounded-nav-link.active {
        background-color: transparent;
        color: var(--light-bg) !important;
        font-weight: 700;
    }
    header {
        padding: 0;
    }
    header .container {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        min-height: 0;
    }
    .navbar-toggler.custom-toggler {
        padding: 0.1rem 0.4rem;
    }
    .logo {
        width: 70px;
        height: auto;
    }
    footer {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    footer .container {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    footer .row {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    footer .col-md-6:last-child {
        order: 1;
        margin-top: 0.5rem;
    }
    footer .col-md-6:first-child {
        order: 2;
    }
    .social-icons {
        justify-content: center;
        margin-bottom: 1.2rem;
    }
    .footer-text {
        text-align: center;
        margin-bottom: 0.2rem;
        font-size: 12px;
        font-weight: 0;
    }
    .desktop-image {
        background-image: url('img/mobile.png'); 
        height: 300px; 
    }
}
@media (max-width: 800px) {
    .tamano-letra {
        font-size: 14px;
    }
    .modalidad-boton {
        font-weight: bold;
        padding: 5px 15px;
        font-size: 18px;
        margin-bottom: 5px;
        margin-top: 10px;
        height: 50px;
        width: 250px;
    }
    .modalidad-card {
        padding: 1px 10px; 
        margin-left: 3em; 
        margin-right: 3em;
        font-size: 12px;
        padding: 10px;
    }
    .list-unstyled {
        margin-right: 35px;
        margin-left: 15px;
        padding-top: 12px;
    }
    .directions-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        font-size: 12px;
    }
    
    .border-lines {
        border-left: 1px solid #CA6750; 
        padding: 20px 0;
        text-align: center;
        margin-left: 2em;
        margin-right: 2em;
    }
    .text-content {
        font-size: 18px; 
        padding-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .testimonial-card {
        margin: 10px auto; 
    }
    .profile-img {
        width: 50px;
        height: 50px;
    }
    .testimonial-card-body h4.card-title {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 8px;
        padding-bottom: 10px;
    }
    .testimonial-card-body .card-text {
        font-size: 12px;
        padding-bottom: 10px;
    }
    .rounded-image {
        width: 70% !important; 
        margin: 0 auto !important;
        padding-top: 0px;
    }
}
@media (max-width: 420px) {
    .tamano-letra {
        font-size: 18px;
        line-height: 1.4;
    }
    .modalidad-boton {
        padding: 5px 10px;
        font-size: 16px;
        margin: 5px auto;
        width: 90%; 
        max-width: 220px;
    }
    .modalidad-card {
        align-items: left;
        margin: 0 5px;
        font-size: 14px;
    }
    .list-unstyled {
        margin: 0 auto;
        padding: 10px;
    }
    .directions-container {
        font-size: 14px;
        padding: 0 10px;
        margin-bottom: -25px;
    }
    .border-lines {
        border-left: 1px solid var(--primary-coral);
        padding: 10px 0;
        margin: 0 auto;
    }
    .text-content {
        font-size: 14px;
        padding: 10px;
    }
    h3{
    font-size: 16px;
    margin-top: -55px;
    }
    .testimonial-card-body h4.card-title {
        font-size: 14px;
    }
    .testimonial-card-body .card-text {
        font-size: 12px;
    }
    .rounded-image {
        width: 80%;
        margin: 50px;
    }
    .desktop-image {
        background-image: url('img/mobile.png');
        height: 250px;
    }
    .footer-text {
        font-size: 12px;
        padding: 5px;
    }
    .social-icons img {
        width: 24px;
        height: 24px;
    }
}
