*{
    padding: 0;
    margin: 0;
   
    box-sizing: border-box;
    font-family: montserrat;
}
nav {
    background:#72773E;
    height: 100px;
    width: 100%;
}
.enlace {
    position: absolute;
    padding: 20px 50px;
    border-bottom: #F9F7EE;
}
.logo {
    height: 70px;
}
nav ul {
    float: right;
    margin-right: 20px;
   
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}
nav ul li  a{
    color: #ffffff;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-style: groove;
}

li a.active, li a:hover {
    background: #CA6750;
    transition:-55s ;
    border-radius: 20px;
    border-bottom: 20px;
}
.checkbtn {
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
#check {
    display: none;
}
@media (max-width: 952){
    .enlace {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width:858px){
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width:100% ;
        height: 100vh;
        background: #72773E;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: -5%;
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height:10px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background:nome ;
        color: #CA6750;
    }
    #check:checked ~ ul {
        left: 0;
    }
}
.row {
    text-align: center;
}
.row h3{
    text-decoration-line: underline;
    text-align: center;
}
.row p {
    text-align: center ;
}

.contenedor1{
    background-color: #72773E;
    padding: 20px;

}
.contenedor2{
    background-color: #CA6750;
    padding: 20px;
}
 .contenedor3{
    background-color: #72773E;
    padding: 20px;
 }
 .contenedor4 {
    background-color:#CA6750;
    padding: 20px;
 }
  .rounded-image {
    width: 80%;
    height: 70%;
    max-width: 100%;
    margin: 30px;
    border-radius: 40px;
  }
  .text-content {
    font-size: 20px;
    padding: 20px;
    color: #F9F7EE;
    margin: 20px;
  }
  .text-white{
    font-size: 30px;
    color: #F9F7EE;
    margin-top: 10px;
    margin-left: 30px;
    font-family: monserrat;
  }

   
  .footer{
    background-color: #72773E; 
    color: white; 
    text-align: center;
    padding: 10px; 
    position: relative;
     bottom: 0;
    width: 100%;
    align-items: center ;
    
}
 .footer a {
    color: #fffffe;
    padding: 20px;
 }
 
